@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* GLOBAL DECLARATION */
.fs-18 {
  font-size: 18px;
}

.min-height {
  height: min-content;
}

.anchor-color {
  color: #3399ff;
}

/* NAVIGATION BAR  */
header {
  position: fixed;
  top: 0%;

  z-index: 9999;
  width: 100%;

}

nav {
  background-color: #074861;

}

.nav-anchor-color {
  color: #bdbdbd;

}

.nav-bar-lg-hide-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-bar-anchor {
  display: flex;
  flex-direction: row;
  justify-content: center;


}

.nav-bar-anchor a {
  width: max-content;
}

/* menu side pannel */

/* SIDE MENU */
.side-menu {
  position: fixed;
  top: 0;
  right: -100%;

  width: 350px;
  height: 100vh;
  background: #051E30;
  transition: right 0.3s ease;
  z-index: 9999;
  padding-top: 60px;
  overflow-y: auto;
}

/* when active */
.side-menu.active {
  right: 0;
}

/* menu links */
.side-menu a {
  display: block;
  color: #bdbdbd;
  padding: 10px 0px 10px 20px;
  margin: 10px 0px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  transition: 0.2s;

}

.side-menu a:hover {
  color: #2470BD;

}

/* close button */
.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.close-btn i {
  font-size: 16px;
}


/* small screen menu bar  */
/* MENU CONTAINER */
.small-screen-side-menu {
  position: fixed;
  top: 0;
  right: -100%;
  /* hidden */
  width: 100%;
  height: 100vh;
  background: #051E30;
  transition: right 0.3s ease;
  z-index: 9999;

  display: flex;
  flex-direction: column;
  justify-content: start;

}

/* ACTIVE STATE */
.small-screen-side-menu.active {
  right: 0;
}

/* LINKS */
.small-screen-side-menu a {
  color: #bdbdbd;
  text-decoration: none;
  font-size: 16px;
  padding-left: 1rem;
  margin: 15px 0;
  font-weight: 600;
  transition: 0.3s;
}

.small-screen-side-menu a:hover {
  color: #3095F7;
}

/* CLOSE BUTTON */
/* .small-screen-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
} */

.small-screen-close-btn i {
  font-size: 20px;
}








/* SECTION 01 */

.section-one {
  padding: 0;
  margin: 0;
}

.section-one-main-div {
  width: 100%;
  height: 100vh;
  /* full screen */
  position: relative;
  /* overflow: hidden; */
}

.section-one-video-div {
  width: 100%;
  height: 100%;
}

.section-one-video {
  width: 100%;
  height: 100%;
  object-fit: cover;

  object-position: center;

  display: block;
}

.section-one-absolute-div {
  position: absolute;
  /* border: 1px rgb(17, 1, 1) solid; */
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 90%;
}

.section-one-absolute-div h1 {
  color: white;
}

.section-one-absolute-div p {
  color: #e0e0e0;
}

.section-one-absolute-div a {
  border: 1px #5ad0eb solid;
  color: #3399ff;
}

/* anchor tag hover effect */

.fill-btn {
  position: relative;
  display: inline-block;
  color: #bdbdbd;
  border: 1px solid #5ad0eb;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s ease;
}

.fill-btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #5ad0eb;
  z-index: -1;
  transition: height 0.4s ease;
}

.fill-btn:hover::before {
  height: 100%;
}

.fill-btn:hover {
  color: white;
}

/* SECTION 02 */

.section-two {
  background-image: url(./src/images/section2/home_banner2.svg);
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

.section-two-main-div {
  padding-top: 3rem;
}

#section-two-main-para-content {
  color: #b6bdbf;
  font-size: 18px;
}

#section-two-hover-anchor {
  border: 1px #5ad0eb solid;
  color: #3399ff;
}

.color-gray {
  color: #b6bdbf;
}

/* SECTION 03 */

.section-three {
  background-color: #000e1a;
}

.section-three img {
  width: 320px;
}

/* SECTION 04 */

.section-four {
  background-image: url(./src/images/section4/section4bg.png);
}

.section-four-main-div {
  width: 90%;
}

.plus-position-1 {
  top: 10px;
  left: 120%;
}

/* SECTION 05 */

.section-five {
  background-color: #012c3c;
}

.sub-div-p-tag {
  color: #b1b1b1;

  margin: auto;
}

.section-five-main-div {
  width: 95%;
  margin: auto;
  padding: 50px 0px !important;
}

.section-five-main-div h3 {
  font-size: 40px;
}

.section-five-eight-images-para-one {
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin: 0px !important;
}

.section-five-eight-images-para-two {
  color: #b1b1b1;
  font-size: 14px;
  margin: 0px !important;
}

.section-five-eight-images-main-div {
  cursor: pointer;

  padding: 10px !important;
}

.section-five-eight-images-main-div img {
  margin: 5px 0px;
  width: 80%;

  display: block;
}

.section-five-eight-images-main-div p {
  padding: 2px 0px !important;
}

/* SECTION 06 */
.section-six {
  background-image: url(./src/images/section6/bgImage.png);
}

.section-six-main-div {
  width: 90%;
  margin: auto;
  padding: 60px 0px;
}

.section-six-main-div h2 {
  /* font-size: 45px; */
  font-weight: 700;
}

.section-six-main-div p {
  font-size: 18px;
  color: #b1b1b1;
}

.section-six-img-div img {
  width: 100%;
}

.section-six-img-div {
  width: 90%;
}

/* SECTION 07 */
/* SECTION 08 */
.section-seven-eight {
  background-image: url(./src/images/section78/why_spsft.svg);
}

.section-seven-eight-main-div {
  width: 90%;
  margin: auto;
}

.para-why-spsoft {
  color: #b1b1b1;
}

.section-seven-eight-counting-div {
  background-color: #1a5581;
}

.section-seven-count-main-div p {
  margin: 0px !important;
}

.section-seven-count-main-div p:first-of-type {
  /* your styles */
  font-size: 52px;
  font-weight: 700;
}

.section-seven-count-main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-seven-eight {
  padding: 70px 0px !important;
}

.section-eight-main {
  padding: 90px 0px 0px 0px !important;
}

.section-eight-main h6 {
  color: white;
  font-size: 27px;
  font-weight: 700;

  margin: 5px 0px !important;
}

.section-eight-main p {
  color: #b1b1b1;
  font-size: 18px;
  text-transform: uppercase;

  margin: 5px 0px !important;
}

hr {
  border: none;
  height: 2px;
  background-color: #c9c9c9;
}

/* SECTION 09 */
.section-nine {
  background-color: #022530;
}

.section-nine-main-div {
  padding: 30px 0px 10px 0px !important;
}

.section-nine h2 {
  font-size: 30px;
}

.section-nine-image-main-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.section-nine-image-main-div div {
  width: 130px;
  padding: 0px;
}

.section-nine-image-main-div img {
  width: 100%;
}

.section-nine-p-div {
  width: 95%;
  padding: 30px 0px;
}

.section-nine-p-div p {
  color: #8e8e8e;
  font-weight: 600;
  text-align: center;
}

/* SECTION 10 */
.section-ten {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./src/images/section10/image.png");
}

.section-ten-main-div {
  width: 90%;
}

#section-ten-first-col-p-tag {
  color: #d0d0d0;
  font-size: 18px;
}

.section-ten h6 {
  font-size: 27px;
  font-weight: 500;
}


/* FOOTER */
footer {
  background-color: #02394e;
}

.footer-list-list a {
  text-decoration: none;
  color: #bdbdbd;
}

.footer-address {
  color: #bdbdbd;
}

footer a:hover {
  color: rgb(111, 111, 246);
}

.footer-button {
  border: none;
}

#footer-year-text {
  font-size: 14px;
}

/* ASIDE */
.social-liks {
  display: inline-flex;
  flex-direction: column;
  justify-content: start;
  gap: 3px;
}

.whatsapp {
  position: fixed;
  bottom: 1%;
  right: 1%;
}

#thirty-years {
  position: fixed;
  top: 13%;
  right: 2%;
  width: 65px;
}

.side-nav-bar {
  position: fixed;
  top: 15%;
  left: 0%;
}

.side-menu-anchor {
  color: #bdbdbd;
  font-size: 12px;

  width: min-content;
  text-decoration: none;
  padding: 0.1rem 0.25rem 0.3rem 0.25rem;
  margin: .7rem 0px;
  border-left: 3px #bdbdbd solid;
}

.side-menu-anchor.active {
  color: white;
  border-left: 3px white solid;
}

.disclaimer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  /* visible by default */
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.disclaimer-box {
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  width: 450px;
  position: relative;
  text-align: center;
}

.close-disclaimer {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.close-disclaimer i {
  font-size: 18px;
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
}






















/* SECTION 11 */

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .section-one-video {
    object-position: 50% 40%;
  }
}

/* TAB SCREEN */
@media (min-width: 768px) {
  .section-one-absolute-div {
    width: 80%;
  }

  .section-four-main-div {
    width: 75%;
    padding: 70px 0px 70px 0px;
  }

  .drone-img-div img {
    width: 490px;
  }

  .section-five-main-div {
    width: 80%;
    padding: 100px 0px !important;
  }

  .sub-div-p-tag {
    color: #b1b1b1;
    width: 68%;
    margin: auto;
  }

  .section-five-eight-images-main-div {
    cursor: pointer;

    padding: 15px !important;
  }

  .section-five-eight-images-main-div img {
    margin: 10px 0px;
  }

  .section-five-eight-images-main-div p {
    padding: 5px 0px !important;
  }

  .section-six-main-div {
    width: 70%;
    margin: auto;
    padding: 80px 0px;
  }

  .section-six-img-div {
    width: 70%;
  }

  .section-seven-eight-main-div {
    width: 70%;
    margin: auto;
  }

  .section-seven-eight {
    padding: 70px 0px !important;
  }

  .section-nine h2 {
    font-size: 45px;
  }

  .section-nine-main-div {
    padding: 80px 0px 20px 0px !important;
  }

  .section-nine-p-div {
    width: 95%;
    padding: 60px 0px;
  }

  .section-ten-main-div {
    width: 70%;
  }

  .footer-main-div {
    width: 80%;
  }

  #thirty-years {
    position: fixed;
    top: 15%;
    right: 2%;
    width: 90px;
  }


  .social-liks {
    position: fixed;
    top: 40%;
    right: 0%;
  }
}

/* LAPTOP SCREEN */
@media (min-width: 768px) and (max-width: 999px) {
  .section-seven-count-main-div p:first-of-type {
    font-size: 32px !important;
  }
}

/* DESKTOP SCREEN */
/* ---------------------------------------------------------------------------------------------------------- */

/* ANIMATIONS */
/* 
class="animate animate-up"
class="animate animate-left"
class="animate animate-right"
class="animate animate-grow-up"*/


.animate {
  opacity: 0;
  transition: all 0.8s ease;
  will-change: transform, opacity;
}


.animate-up {
  transform: translateY(50px);
}


.animate-left {
  transform: translateX(-80px);
}


.animate-right {
  transform: translateX(80px);
}


.animate.show {
  opacity: 1;
  transform: translate(0, 0);
}


.animate-grow-up {
  transform: translateY(60px) scale(0.8);
}


.animate.show {
  opacity: 1;
  transform: translateY(0) scale(1);
}